<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center titre" size="large" color="secondary">
      <img [src]="infos.logo" alt="logo" height="20px">
      TTRPG Manager
    </ion-title>
    <ion-text color="dark" class="subtitle">
      <p>Préparez vos parties</p>
      <p>Gérez vos personnages</p>
      <p>Suivez l'avancée du scénario</p>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <ion-card-content color='light'>
      <ion-button expand="block" color="light">Ajouter une partie</ion-button>
    </ion-card-content>

  </ion-card>
  <!--liste des parties et liens vers le détail-->
</ion-content>
