<ion-header [translucent]="true">
  <ion-toolbar text-center color="primary">
    <ion-title class="ion-text-center titre" color="dark">
      <img object-fit: cover src="./assets/img/ttrpgBan.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--liste des parties et liens vers le détail-->
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="parties" [routerLink]="'/parties'">
      <ion-icon name="dice-outline"></ion-icon>
      <ion-label>Parties en cours</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
