

.subtitle p {
  font-size: small;
  text-align: center;
  margin: 0 0 0;
}
 .subtitle :first-child {
   margin-top: 1em;
 }
 .subtitle :last-child {
   margin-bottom: 1em;
 }

 .blocTitre {
   margin-left: 2em;
 }
