<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Détails de la partie</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button color="light">
      <ion-icon name="construct"></ion-icon>
    </ion-fab-button>

    <ion-fab-list>
      <ion-fab-button color="tertiary" (click)="editPartie(partie)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary">
        <ion-icon name="trash-outline" (click)="supprimerPartie(partie.creatingDate)"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-header>

<ion-content class="ion-padding">

  <ion-text class="ion-text-center">
    <h1>{{ partie.scenario }}</h1>
  </ion-text>
  <ion-text class="ion-text-center">
    <p>{{ partie.title }}</p>
  </ion-text>
  <ion-card>
    <ion-card-header>PERSONNAGES</ion-card-header>
    <ion-card-content >
      <ion-list>
        <ion-item *ngFor="let perso of partie.pj" (click)="goToDetails(perso)">
          <ion-label >{{ perso.nom }} ({{perso.joueureuse}})</ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="addPerso()" color="light">Ajouter un personnage</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>PROCHAINE PARTIE</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-datetime displayFormat="DDD DD MMMM YYYY à HH:mm" doneText="Valider" cancelText="Annuler" monthNames="[janvier, février, mars, avril, mai, juin, juillet, aout, septembre, octobre, novembre, décembre]" dayShortNames="[Dim, Lun, Mar, Mer, Jeu, Ven, Sam]" placeholder="Définir une date" [(ngModel)]="partie.date" (ionChange)="addDate()"></ion-datetime>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
